body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 1, 0.1);
}

/* header */

.main-header {
  width: 100%;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: center;
  padding-top: 49px;
}

.main-navigation .main-logo {
  width: 160px;
  height: 65px;;
  margin-right: 200px;
}

.site-navigation {
  display: flex;
  width: 600px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation li {
  margin-right: 50px;
}

.site-navigation a {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  outline: none;
  color: #fb565a;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
}

.user-cart {
  margin-left: auto;
}

.user-cart a {
  position: relative;
  padding-left: 40px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.user-cart a:hover,
.user-cart a:focus {
  outline: none;
  color: #fb565a;
}

.user-cart a:active {
  color: #000000;
  opacity: 0.3;
}

.user-cart a::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0;
}

.user-cart-current {
  border-bottom: 2px solid #fb565a;
}

/* slider */

.slider {
  position: relative;
}

.slider .slider-item:nth-child(1) {
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.slider .slider-item:nth-child(2) {
  background-image: url(../img/slide-2.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.slider .slider-item:nth-child(3) {
  background-image: url(../img/slide-3.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.slider-item {
  padding-top: 80px;
  display: none;
}

.slider-container {
  width: 380px;
}

.slider-active {
  display: block;
}

.slider-item h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  margin: 0;
}

.slider-item .button {
  padding: 18px 53px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.slider-toggles {
  min-width: 88px;
  min-height: 18px;
  position: absolute;
  top: 75%;
  left: 49%;
}

.slider-toggles span {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle-active::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* features */

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-list li {
  width: 360px;
  text-align: left;
}

.features-list img {
  margin-bottom: 25px;
}

.features-list h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.features-list p {
  width: 260px;
  margin: 0;
}

.features-list .button {
  padding: 17px 40px;
  margin-top: 30px;
}

.feature-button-green {
  background-color: #00ca74;
}

.feature-button-green:hover,
.feature-button-green:focus {
  background-color: #00bc6c;
}

.feature-button-green:active {
  background-color: #00aa62;
}

.feature-button-yellow {
  background-color: #efc84a;
}

.feature-button-yellow:hover,
.feature-button-yellow:focus {
  background-color: #eab534;
}

.feature-button-yellow:active {
  background-color: #e5a722;
}

/* about-us */
.about-us {
  border-top: 2px solid #eeeeee;
  margin-bottom: 70px;
}

.about-us h2 {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us h3 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
